# MySQL 配置
MYSQL_PASSWORD=123456

# Redis 配置
REDIS_PASSWORD=123456

# 公众号配置
OFFICIAL_APP_ID=your_official_app_id
OFFICIAL_APP_SECRET=your_official_app_secret

# 飞书配置
LARK_APP_ID=your_lark_app_id
LARK_APP_SECRET=your_lark_app_secret_here
LARK_GROUP_ID=your_lark_group_id

# 腾讯云对象存储配置
STORAGE_SECRET_ID=your_storage_secret_id
STORAGE_SECRET_KEY=your_storage_secret_key
STORAGE_APP_ID=your_storage_app_id
STORAGE_REGION=your_storage_region
STORAGE_BUCKET_NAME=your_storage_bucket_name
STORAGE_DOMAIN=your_storage_domain
STORAGE_CDN_DOMAIN=your_storage_cdn_domain
