# MySQL 配置
MYSQL_PASSWORD=123456

# Redis 配置
REDIS_PASSWORD=123456

# 公众号配置
OFFICIAL_APP_ID=your_official_app_id
OFFICIAL_APP_SECRET=your_official_app_secret

# 飞书配置
LARK_APP_ID=your_lark_app_id
LARK_APP_SECRET=your_lark_app_secret_here
LARK_GROUP_ID=your_lark_group_id
